<header>
  <div class="logo-container">
    <span class="icon icon--logo"></span>
    <a href="/">ЕДАЛЬНЯ</a>
  </div>

  <nav class="flex justify-center header-nav hidden">
    <form class="input-group search-header">
      <input type="text" id="search-header-text" /><button type="submit" class="bg-orange">
        <span class="icon icon--search"></span>
      </button>
    </form>
    <div class="flex">
      <% if (locals.user) { %>
      <a href="/me" class="btn bg-yellow"
        ><span class="icon icon--user"></span
      ></a>
      <a href="/createRecipe" class="btn bg-green"
        ><span class="icon icon--plus"></span>Создать</a
      >
      <% } else { %>
      <a href="/login" class="btn bg-yellow"
        ><span class="icon icon--user"></span>Войти</a
      >
      <% } %>
    </div>
  </nav>
  <button class="btn bg-yellow hamburger-menu">
    <span class="icon icon--menu"></span>
  </button>
</header>
