<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="/css/style.css" rel="stylesheet" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?" />
<script type="module" defer src="/js/bundled/index.js"></script>
<title><%= title %></title>