<header>
  <div class="logo-container">
    <span class="icon icon--logo"></span>
    <p>ЕДАЛЬНЯ</p>
  </div>

  <nav class="flex justify-center header-nav hidden">
    <div class="input-group">
      <input type="text" name="" id="" /><button class="bg-orange">
        <span class="icon icon--search"></span>
      </button>
    </div>
    <div class="flex">
      <a href="#" class="btn bg-yellow"
        ><span class="icon icon--user"></span
      ></a>
      <a href="#" class="btn bg-green"
        ><span class="icon icon--plus"></span>Создать</a
      >
    </div>
  </nav>
  <a href="#" class="btn bg-yellow hamburger-menu"
    ><span class="icon icon--menu"></span
  ></a>
</header>
