<img class="recipe-step-image modal-image" src="./img/sm_208938.jpg" alt="" />
<div class="card flex flex-column justify-space-between align-flex-end">
  <div>
    <h2><a href="">Салат Оливье</a></h2>
    <p>
      Традиционный салат "Оливье", без которого не обходится новогоднее
      праздничное застолье.
    </p>
    <div class="flex align-center">
      <span class="icon icon--time"></span>
      <h3>40 мин</h3>
      <span class="icon icon--serving"></span>
      <h3>4-6</h3>
    </div>
  </div>

  <div class="flex align-center">
    <span class="icon icon--thumb-up"></span>
    <h3>3</h3>
    <span class="icon icon--thumb-down"></span>
    <h3>1</h3>
  </div>
</div>
