<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<link rel="stylesheet" href="styles.css"
<body>
    <div class="header">
        <div class="headerFirst">
            <nav>
                <ul>
                    <li><a href="#">Офисы</a></li>
                    <li><a href="#">Частным клиентам</a></li>
                    <li><a href="#">Владивосток</a></li>
                    <li><a href="#">Личный кабинет</a></li>
                </ul>
            </nav>
        </div>
        <div class="headerSecond">

        </div>
    </div>
    <div class="banner"></div>
    <div class="plans"></div>
    <div class="services"></div>
    <div class="applaication"></div>
    <div class="footer"></div>

</body>
</html>