<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<link rel="stylesheet" href="styles.css"
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
    <div class="header">
        <div class="headerFirst">
            <nav>
                <ul>
                    <li><a href="#">Личный кабинет</a></li>
                    <!-- подгружается слово, а не картинка. -->
                    <li><i class="material-icons">cloud</i></li>
                    <li><a href="#">Владивосток</a></li>
                    <li><a href="#">Частным клиентам</a></li>
                    <li><a href="#">Офисы</a></li>
                </ul>
            </nav>
        </div>
        <!-- проблема, должны быть разные nav ul, но используется один и тот же  -->
        <div class="headerSecond">
            <nav>
                <ul>
                    <li><a href="#">Мобильная связь</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Поддержка</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="banner">
        <div>
            <p>Lorem Ipsum</p>
            <p>Dolor sit amet consecterur adipsci elit.</p>
        </div>

    </div>
    <div class="plans"></div>
    <div class="services"></div>
    <div class="applaication"></div>
    <div class="footer"></div>

</body>
</html>