.headerFirst{
    background-color: #495057;
}
body{
    margin: 0;
    background-color: #343a40;
    color: #f8f9fa;

}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 black; 
}
li{
    float: right;
}

li a{
    color: #f8f9fa;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 1;
}
.headerSecond{
    background-color: #495057;
}

.banner{
    background-color: #84e1bc;
    box-shadow: 0 5px 10px 0 black;
    background: linear-gradient(to top, rgba(255,0,0,0), #84e1bc);
}
div p{
    width: 100px;
    height: 180px;
}
p:first-child {
    font-size:200%;
    padding-left: 100px;
}
p {
    font-size:100%;
    padding-left: 100px; 
}